.currency-filter-container {
  position: fixed;
  top: 23px;
  left: 0;
  right: 0;
  background: #000000;
  font-family: sans-serif;
}

.currency-filter-header {
  background: #3e9b2b;
  padding: 16px;
  text-align: center;
}

.currency-filter-title {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

.currency-filter-content {
  padding: 12px;
  overflow-y: auto;
}

.currency-filter-search {
  background: #fff;
  color: #000000;
  border-radius: 8px;
  border: none;
  padding: 10px px;
  width: 100%;
  height: 2rem;
  font-size: 16px;
  margin-bottom: 12px;
}